.nav-bg {
  background-color: #272727;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* padding: 0px 8px; */
  align-items: center;
  height: 13vh;
}
.set-1 {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: #fff 1px solid; */
}
.route-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  /* border: #fff solid 2px; */
  padding-left: 0;
}
.routes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  /* border: #fff solid 2px; */
}
.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.896);
  margin-right: 10px;
}
.link h1 {
  margin-left: 5px;
}
/* .l1{
    margin-
} */
.link:hover {
  text-decoration: underline;
  position: relative;
  text-decoration-color: #fbbf24;
}
.logout-btn {
  background-color: #4f46e5;
  color: #fff;
  font-size: 20px;
  padding: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  margin-right: 10px;
}
.logout-btn:hover {
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.102),
    inset -20px -20px 60px rgba(255, 255, 255, 0.424);
}
.set-2 {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.logo {
  max-width: 140px;
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .set-2 {
    display: flex;
  }
  .logo {
    max-width: 100px;
  }
  .set-1 {
    display: none;
  }
  .set-2 button {
    background-color: transparent;
  }
}
.i1 {
  color: #fff;
  font-size: 22px;
}
.i1:hover {
  color: rgba(0, 0, 0, 0.102), inset rgba(255, 255, 255, 0.424);
}
